.login{
    background-image: linear-gradient(to right, #fff5bc ,#cec1ff);
}

.register{
    background-image: linear-gradient(to right, #fff5bc ,#cec1ff);
}

.dealerdetails{
    background-image: linear-gradient(to right, #fff5bc ,#cec1ff);
}

.cardetails{
    background-image: linear-gradient(to right, #fff5bc ,#cec1ff);
}

.cars{
    background-image: linear-gradient(to right, #fff5bc ,#cec1ff);
}
